body {
  font-family: sans-serif;
}
label {
  display: inline-block;
  min-width: 150px;
}
input {
  display: inline-block;
  width: 250px;
  margin: 2px;
}
button {
  margin: 2px;
}
.error {
  display: inline;
  color: red;
}
.scrollable {
  background-color: #f5f5f5;
  max-height: 250px;
  overflow-y: auto;
  white-space: pre;
}
.container {
  margin: 10px 5px;
  padding-left: 10px;
  border-left: 3px solid #fae900;
}

.title {
  font-size: 3rem;
}

.content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.badge {
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-bottom-left-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.form {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-gap: 1rem;
}
